In [220]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [221]:
df = pd.read_csv('adult.csv')

In [222]:
df.shape

(32561, 15)

In [223]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [224]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [226]:
# df['sex'] = np.where(df['sex'] == 'Male',1,0)
# df['sex'] = np.where(df['sex'] == 'Male', 1, 0)

labelencoder = LabelEncoder()
df['sex'] = labelencoder.fit_transform(df['sex'])

In [227]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,<=50K

In [228]:
df_d = df

In [229]:
df_d.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [230]:
df_d['workclass'] = df_d.workclass.str.strip()

In [231]:
df_d['marital_status']=df_d.marital_status.str.strip()

In [232]:
df_d['occupation'] = df_d.occupation.str.strip()

In [233]:
df_d['relationship'] = df_d.relationship.str.strip()

In [234]:
df_d['race'] = df_d.race.str.strip()

In [235]:
df_d['native_country'] = df_d.native_country.str.strip()

In [236]:
df_d['income'] = df_d.income.str.strip()

In [237]:
df_d['income'] = df_d.income.str.replace('<=50K','50000')

In [238]:
df_d['income'] = df_d.income.str.replace('>50K','51000')

In [239]:
df_d.income.unique()

array(['50000', '51000'], dtype=object)

In [240]:
df_d.workclass.unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [241]:
df_d.workclass.replace({'?':df_d.workclass.mode()[0]},inplace=True)

In [242]:
df_d.fnlwgt.value_counts()

164190    13
203488    13
123011    13
113364    12
121124    12
          ..
284211     1
312881     1
177711     1
179758     1
229376     1
Name: fnlwgt, Length: 21648, dtype: int64

In [243]:
df_d.occupation.unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [244]:
df_d.occupation.mode()

0    Prof-specialty
dtype: object

In [245]:
df_d.occupation.replace({'?':df_d.occupation.mode()[0]},inplace=True)

In [246]:
df_d.native_country.unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [247]:
df_d.native_country.mode()[0]

'United-States'

In [248]:
df_d.native_country.replace({'?':df_d.native_country.mode()[0]},inplace=True)

In [249]:
df_d.native_country.replace({'Outlying-US(Guam-USVI-etc)':df_d.native_country.mode()[0]},inplace=True)

In [250]:
df_d.capital_loss.unique()

array([   0, 2042, 1408, 1902, 1573, 1887, 1719, 1762, 1564, 2179, 1816,
       1980, 1977, 1876, 1340, 2206, 1741, 1485, 2339, 2415, 1380, 1721,
       2051, 2377, 1669, 2352, 1672,  653, 2392, 1504, 2001, 1590, 1651,
       1628, 1848, 1740, 2002, 1579, 2258, 1602,  419, 2547, 2174, 2205,
       1726, 2444, 1138, 2238,  625,  213, 1539,  880, 1668, 1092, 1594,
       3004, 2231, 1844,  810, 2824, 2559, 2057, 1974,  974, 2149, 1825,
       1735, 1258, 2129, 2603, 2282,  323, 4356, 2246, 1617, 1648, 2489,
       3770, 1755, 3683, 2267, 2080, 2457,  155, 3900, 2201, 1944, 2467,
       2163, 2754, 2472, 1411])

In [251]:
df_d.hours_per_week.unique()

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95])

df_d.head()

In [252]:
df_d.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,50000
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,50000
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,50000
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,50000
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,50000

In [253]:
workclass_num_col = df_d.workclass.str.get_dummies()

In [254]:
marital_num_col = df_d.marital_status.str.get_dummies()

In [255]:
occupation_num_col = df_d.occupation.str.get_dummies()

In [256]:
rel_num_col = df_d.relationship.str.get_dummies()

In [257]:
race_num_col = df_d.race.str.get_dummies()

In [258]:
country_num_col = df_d.native_country.str.get_dummies()

In [259]:
dff = df_d

In [260]:
dff.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,1,2174,0,40,United-States,50000
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,1,0,0,13,United-States,50000
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,1,0,0,40,United-States,50000
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1,0,0,40,United-States,50000
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,0,40,Cuba,50000

In [261]:
dff['income'] = dff['income'].astype('object').astype('int')

In [262]:
del dff['education']

In [263]:
df_cat_col = dff.select_dtypes(exclude = np.number)

In [264]:
cat_num_col = pd.get_dummies(df_cat_col)

In [265]:
dff.drop(['workclass','fnlwgt','marital_status','occupation','relationship','race','native_country'],axis='columns',inplace=True)

In [266]:
dff = pd.concat([cat_num_col,dff],axis='columns')

In [267]:
dff.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital_status_Divorced,marital_status_Married-AF-spouse,...,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,age,education_num,sex,capital_gain,capital_loss,hours_per_week,income
0,0,0,0,0,0,0,1,0,0,0,...,1,0,0,39,13,1,2174,0,40,50000
1,0,0,0,0,0,1,0,0,0,0,...,1,0,0,50,13,1,0,0,13,50000
2,0,0,0,1,0,0,0,0,1,0,...,1,0,0,38,9,1,0,0,40,50000
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,53,7,1,0,0,40,50000
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,28,13,0,0,0,40,50000

In [268]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 87 columns):
workclass_Federal-gov                   32561 non-null uint8
workclass_Local-gov                     32561 non-null uint8
workclass_Never-worked                  32561 non-null uint8
workclass_Private                       32561 non-null uint8
workclass_Self-emp-inc                  32561 non-null uint8
workclass_Self-emp-not-inc              32561 non-null uint8
workclass_State-gov                     32561 non-null uint8
workclass_Without-pay                   32561 non-null uint8
marital_status_Divorced                 32561 non-null uint8
marital_status_Married-AF-spouse        32561 non-null uint8
marital_status_Married-civ-spouse       32561 non-null uint8
marital_status_Married-spouse-absent    32561 non-null uint8
marital_status_Never-married            32561 non-null uint8
marital_status_Separated                32561 non-null uint8
marital_status_Widowed                  32561 non-null uint8
occupation_Adm-clerical                 32561 non-null uint8
occupation_Armed-Forces                 32561 non-null uint8
occupation_Craft-repair                 32561 non-null uint8
occupation_Exec-managerial              32561 non-null uint8
occupation_Farming-fishing              32561 non-null uint8
occupation_Handlers-cleaners            32561 non-null uint8
occupation_Machine-op-inspct            32561 non-null uint8
occupation_Other-service                32561 non-null uint8
occupation_Priv-house-serv              32561 non-null uint8
occupation_Prof-specialty               32561 non-null uint8
occupation_Protective-serv              32561 non-null uint8
occupation_Sales                        32561 non-null uint8
occupation_Tech-support                 32561 non-null uint8
occupation_Transport-moving             32561 non-null uint8
relationship_Husband                    32561 non-null uint8
relationship_Not-in-family              32561 non-null uint8
relationship_Other-relative             32561 non-null uint8
relationship_Own-child                  32561 non-null uint8
relationship_Unmarried                  32561 non-null uint8
relationship_Wife                       32561 non-null uint8
race_Amer-Indian-Eskimo                 32561 non-null uint8
race_Asian-Pac-Islander                 32561 non-null uint8
race_Black                              32561 non-null uint8
race_Other                              32561 non-null uint8
race_White                              32561 non-null uint8
native_country_Cambodia                 32561 non-null uint8
native_country_Canada                   32561 non-null uint8
native_country_China                    32561 non-null uint8
native_country_Columbia                 32561 non-null uint8
native_country_Cuba                     32561 non-null uint8
native_country_Dominican-Republic       32561 non-null uint8
native_country_Ecuador                  32561 non-null uint8
native_country_El-Salvador              32561 non-null uint8
native_country_England                  32561 non-null uint8
native_country_France                   32561 non-null uint8
native_country_Germany                  32561 non-null uint8
native_country_Greece                   32561 non-null uint8
native_country_Guatemala                32561 non-null uint8
native_country_Haiti                    32561 non-null uint8
native_country_Holand-Netherlands       32561 non-null uint8
native_country_Honduras                 32561 non-null uint8
native_country_Hong                     32561 non-null uint8
native_country_Hungary                  32561 non-null uint8
native_country_India                    32561 non-null uint8
native_country_Iran                     32561 non-null uint8
native_country_Ireland                  32561 non-null uint8
native_country_Italy                    32561 non-null uint8
native_country_Jamaica                  32561 non-null uint8
native_country_Japan                    32561 non-null uint8
native_country_Laos                     32561 non-null uint8
native_country_Mexico                   32561 non-null uint8
native_country_Nicaragua                32561 non-null uint8
native_country_Peru                     32561 non-null uint8
native_country_Philippines              32561 non-null uint8
native_country_Poland                   32561 non-null uint8
native_country_Portugal                 32561 non-null uint8
native_country_Puerto-Rico              32561 non-null uint8
native_country_Scotland                 32561 non-null uint8
native_country_South                    32561 non-null uint8
native_country_Taiwan                   32561 non-null uint8
native_country_Thailand                 32561 non-null uint8
native_country_Trinadad&Tobago          32561 non-null uint8
native_country_United-States            32561 non-null uint8
native_country_Vietnam                  32561 non-null uint8
native_country_Yugoslavia               32561 non-null uint8
age                                     32561 non-null int64
education_num                           32561 non-null int64
sex                                     32561 non-null int64
capital_gain                            32561 non-null int64
capital_loss                            32561 non-null int64
hours_per_week                          32561 non-null int64
income                                  32561 non-null int64
dtypes: int64(7), uint8(80)
memory usage: 4.2 MB

In [269]:
dff.shape

(32561, 87)

In [270]:
X = dff.iloc[:,:-1].values

In [271]:
X.shape

(32561, 86)

In [272]:
Y= dff.iloc[:,-1:].values

In [273]:
Y.shape

(32561, 1)

In [282]:
train_x,test_x,train_y,test_y = train_test_split(X,Y,test_size=0.30,random_state=0)

In [283]:
sc = StandardScaler()
X_train = sc.fit_transform(train_x)
X_test = sc.transform(test_x)

In [284]:
model =  GaussianNB()
model.fit(train_x, train_y)
y_pred = model.predict(test_x)

In [285]:
cm = confusion_matrix(test_y, y_pred)
cm

array([[5849, 1558],
       [ 454, 1908]])

In [286]:
train_x[:,0]

array([0, 0, 0, ..., 0, 0, 0])

In [287]:
from matplotlib.colors import ListedColormap
X_set, y_set = train_x, train_y
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
plt.contourf(X1, X2, model.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Naive Bayes (Training set)')
# plt.xlabel('Age')
# plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

ValueError: operands could not be broadcast together with shapes (90000,2) (86,)

In [288]:
# Visualising the Training set results
from matplotlib.colors import ListedColormap
X_set, y_set = test_x, test_y
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
plt.contourf(X1, X2, model.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Naive Bayes (Training set)')
# plt.xlabel('Age')
# plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

ValueError: operands could not be broadcast together with shapes (90000,2) (86,)

In [19]:
df.education.value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64

In [20]:
df.education_num.value_counts()

9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education_num, dtype: int64

In [22]:
df.marital_status.value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital_status, dtype: int64

In [44]:
df.native_country.value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64