In [145]:
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
import warnings
warnings.filterwarnings("ignore")
from collections import Counter

In [146]:
train = pd.read_excel('Data_Train.xlsx')
test = pd.read_excel('Data_Test.xlsx')

In [147]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
TITLE            12690 non-null object
RESTAURANT_ID    12690 non-null int64
CUISINES         12690 non-null object
TIME             12690 non-null object
CITY             12578 non-null object
LOCALITY         12592 non-null object
RATING           12688 non-null object
VOTES            11486 non-null object
COST             12690 non-null int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB

In [148]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 8 columns):
TITLE            4231 non-null object
RESTAURANT_ID    4231 non-null int64
CUISINES         4231 non-null object
TIME             4231 non-null object
CITY             4196 non-null object
LOCALITY         4201 non-null object
RATING           4229 non-null object
VOTES            3829 non-null object
dtypes: int64(1), object(7)
memory usage: 264.6+ KB

In [149]:
test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [150]:
df = pd.concat([train,test],sort=False)

In [151]:
df.shape

(16921, 9)

In [152]:
df.isna().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              147
LOCALITY          128
RATING              4
VOTES            1606
COST             4231
dtype: int64

In [153]:
df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0

In [154]:
df.columns = map(str.lower,df.columns)

In [155]:
df['city'] = df['city'].replace(df[df['city'].str.contains('bang',na=False)]["city"].unique(),'Bangalore')
df['city'] = df['city'].replace(df[df['city'].str.contains('Bang',na=False)]["city"].unique(),'Bangalore')
df['city'] = df['city'].replace(df[df['city'].str.contains('Ker',na=False)]["city"].unique(),'kerala')
df['city'] = df['city'].replace(df[df['city'].str.contains('JP Nagar',na=False)]["city"].unique(),'Bangalore')
df['city'] = df['city'].replace(df[df['city'].str.contains('Mum',na=False)]["city"].unique(),'Mumbai')
df['city'] = df['city'].replace(df[df['city'].str.contains('Bandra',na=False)]["city"].unique(),'Mumbai')
df['city'] = df['city'].replace(df[df['city'].str.contains('Andheri',na=False)]["city"].unique(),'Mumbai')
df['city'] = df['city'].replace(df[df['city'].str.contains('Maharashtra',na=False)]["city"].unique(),'Mumbai')
df['city'] = df['city'].replace(df[df['city'].str.contains('Chen',na=False)]["city"].unique(),'Chennai')
df['city'] = df['city'].replace(df[df['city'].str.contains('chen',na=False)]["city"].unique(),'Chennai')
df['city'] = df['city'].replace(df[df['city'].str.contains('Tamil',na=False)]["city"].unique(),'Chennai')
df['city'] = df['city'].replace(df[df['city'].str.contains('Anna Salai',na=False)]["city"].unique(),'Chennai')
df['city'] = df['city'].replace(df[df['city'].str.contains('Tambaram',na=False)]["city"].unique(),'Chennai')
df['city'] = df['city'].replace(df[df['city'].str.contains('Tela',na=False)]["city"].unique(),'Telangana')
df['city'] = df['city'].replace(df[df['city'].str.contains('Delhi',na=False)]["city"].unique(),'Delhi')
df['city'] = df['city'].replace(df[df['city'].str.contains('Karnataka',na=False)]["city"].unique(),'Bangalore')
df['city'] = df['city'].replace(df[df['city'].str.contains('Bengalore',na=False)]["city"].unique(),'Bangalore')
df['city'] = df['city'].replace(df[df['city'].str.contains('Bengalore',na=False)]["city"].unique(),'Bangalore')
df['city'] = df['city'].replace(df[df['city'].str.contains('Bengaluru',na=False)]["city"].unique(),'Bangalore')
df['city'] = df['city'].replace(df[df['city'].str.contains('Marathahalli',na=False)]["city"].unique(),'Bangalore')
df['city'] = df['city'].replace(df[df['city'].str.contains('Kochi',na=False)]["city"].unique(),'Kochi')
df['city'] = df['city'].replace(df[df['city'].str.contains('Hyder',na=False)]["city"].unique(),'Hyderabad')

In [156]:
df_d = df

In [157]:
df_d.shape

(16921, 9)

In [158]:
df_d.head()

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0

In [159]:
df_d.isna().sum()

title               0
restaurant_id       0
cuisines            0
time                0
city              147
locality          128
rating              4
votes            1606
cost             4231
dtype: int64

In [160]:
df_d.columns = map(str.lower,df_d.columns)

In [161]:
df_d['locality'].unique()

array(['Dombivali East', 'Ramapuram', 'Saligramam', ...,
       'Off Carter Road', 'SRM Back Gate', 'Perry Cross Road'],
      dtype=object)

In [162]:
df_d.dropna(subset=['city','locality'],how='all',inplace=True)

In [163]:
df_d.isna().sum()

title               0
restaurant_id       0
cuisines            0
time                0
city               20
locality            1
rating              4
votes            1584
cost             4201
dtype: int64

In [164]:
df_d[df_d.locality.isna()]

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
12181,None,3861,Asian,"11am – 11pm (Mon, Tue, Thu, Sun), 11am – 3pm...",Bangalore,NaN,NEW,NaN,300.0

In [165]:
df_d.city.unique()

array(['Thane', 'Chennai', 'Mumbai', 'Bangalore', 'Gurgaon', 'Hyderabad',
       'Kochi', 'Thane West', 'Delhi', 'Malad East', '682036', 'Noida',
       'Secunderabad', 'India', 'Madhuranagar', nan, 'Faridabad',
       'Chembur.', 'opp gurudwara Shakurpur', 'Telangana', 'Ghaziabad',
       'kerala', 'Edappally', 'Kadavanthra', 'Ernakulam Circle kochi',
       'Near Reliance Fresh', 'Kilpauk', 'Kothaguda', 'Goregaon West',
       'Kakkanad', 'Outer Ring Road', 'Mulund East',
       'Secunderabad main road near signal NMREC COLLEGE', 'Gachibowli',
       'Semmancheri', 'Powai (Next to Powai Plaza)', 'Dombivali East',
       'Kandivali', 'Dewan Rama Road', 'Gurugram', 'Sector 51 Noida',
       'Kaloor', 'Besant Nagar', 'Adjacent To Commercial Street',
       'Dwarka', '682035.', 'Kalyan West', 'Avadi', 'Kondapur',
       'Mehdipatnam', 'Gandipet', 'Velachery', 'Pallavaram',
       'Vijaya Nagar', 'BTM Layout',
       'Metro Pillar No 21. Mettuguda main road near railway degree college.',
       'Madhapur', 'Ernakulam', 'Sarjapur', 'Rohini', 'Karol Bagh',
       'Perungudi', 'Thykoodam', 'Greater Noida', 'Khairatabad',
       'chullickal', 'Grant Road West', 'Hitech City', 'West Maredpally',
       'Nedumbassery', 'MG Road', 'Naya Nagar Mira Road', 'Pitampura',
       'Lower Parel', 'HBR Layout', 'Rajiv gandhi Nagar', 'Medavakkam',
       'Sathya Nagar', 'Behind Ramalayam Temple', 'Palarivattom',
       'Brigade Road', 'Virar West', 'B-1 Stage', 'Aluva',
       'IOB Bank Kamala Nagar', 'HSR Layout', 'Marine Drive',
       'DLF Galleria', 'Nallathambi Main Road', 'Citypark', 'Bhayandar',
       'Aluva Circle', 'Thammenahalli Village', 'SG Palya', 'Attapur.',
       'Near Shangrilla Bus Stop', 'Khar (west)', 'Road 3', 'Kukatpally',
       'Faridabd', 'Dilsukhnagar', 'Near Munrshwara Temple',
       'Off Brigade Road', 'khar west', 'Potheri', 'OMR Karapakkam',
       'Mahim', 'Lingampally', 'Powai', 'Vasai West.', 'Thane (W)',
       'Secunderabad ECIL', 'navi mumbai', 'ward X11', 'kochi',
       'Perumbavoor', 'Mira raod east', 'Pokhran Road 2', 'Uttar Pradesh',
       'Naharpar', 'Hosur Road', 'Near Bharat Petroleum.', 'Sriram nagar',
       'Vyttila', 'Banjara Hills', 'MALAPALLIPURAM P .O THRISSUR',
       'Panampilly Nagar', 'hyderabad', 'Borivali East.', 'ECIL',
       'Jubilee Hills',
       'Amrit kaur market opposite new delhi railway station paharganj',
       'Telengana', 'Rajanpada', 'Mahabalipuram',
       'Secunderabad. WE HAVE NO BRANCHES.', 'Gurgoan', 'Elamakkara',
       'Sector 1', 'Kolathur', '3rd Street', 'Borivali West',
       'Rodeo Drive Sector 49', 'Pallimukku', 'Sector 51', 'Champapet',
       'Andavar Nagar', 'opp mukteshwar ashram powai', 'Nungambakkam',
       'BK Guda', 'Kukatapally', 'Near Sector 110 Noida', 'Navallur',
       'Beside Excellency Gardens', 'Begumpet',
       'Maharaja Hotel Beside Gardania Bar', 'Ashok Vihar Phase 1',
       'Trivandrum', 'Narayanguda', 'Thevera', 'Palm Beach Road',
       'East Coast Road (ECR)', 'Ramapuram', 'Nandanam', 'Saket',
       'MG Road Ernakulam', 'Indiranagar', 'Thiruvanmiyur', 'Ambattur',
       'Anna Nagar West', 'Old Railway Road', 'Kalyan',
       'Near Ramlila Ground', 'Serilingampally', 'Himayath Nagar',
       'Nallala Street', 'Wagle Estate', '1st Stage', 'First Street',
       '6 & 7 - 4/64 Subhash Nagar', '1st Tavarekere', 'Perambur',
       'Vaishali Ghaziabad', 'Thanisandra', 'Block F', 'Sector 7 Dwarka',
       'Opposite Barathi Gas Company', 'Vadapalani', 'Kondapur.',
       'Badlapur West.', 'Kalamassery', 'Palavakkam', 'TCS Synergy park',
       'BTM 1st Stage', 'Mahadevpura', 'NEW BEL ROAD 560054',
       'Veliaveetil house Vivekananda Nagar Elamakkara', 'Sholinganallur',
       'Lower Parel West', 'Tripunithura', 'Mogappair', 'Ashok Nagar',
       'Haridwar Apartments', 'Indirapuram', 'Manikonda', 'GST Road',
       'Lahari Apartments', 'Ramanthapur', 'Mulund west',
       'Gurgaon Haryana India', '10th avenue', 'Uppal', 'Nizampet',
       'Ulsoo', 'PVR plaza cinema building Connaught Place',
       'Gurgaon Haryana', 'Chromepet', 'Janakpuri', 'Secunderabad.',
       'Vadapalani.', 'aluva circle', 'Vasai west', 'Mig Housing Society',
       'Haryana', 'Borivali West.', 'Golf Course Road',
       'Near Jyothinivas College', 'Anna Nagar East', 'Masab Tank',
       'Panathur Main Road',
       'opposite to western side of ITPL Service gate', 'Kalkaji',
       'APR Chambers', 'Gandhinagar Rd', 'Whitefield', '682024',
       'Girgaum', 'Kurla (W)', 'Thane West Thane West', 'Marad',
       'Near Sector 34', 'Nallagandla', 'Vandalur', 'Mulund West',
       'Secunderbad', 'MM Nagar', 'Chittethukkara', 'BTM', 'Dombivli',
       'Sahakara Nagar', 'Tavarekere Main Road', 'Community Centre',
       'Delh.', 'Sector-6 Noida 201301', 'Kaaraikudi Complex',
       'Thiruvanmiyur (Opp Eurokids LB Road)', 'Tolichowki', 'Alwarpet',
       'Suraram', 'Forum Sujana Mall Opposite to Malaysian township',
       'Old Hafeezpet', 'Yousufguda', 'Chepauk', 'Chowpatty',
       'Church Street', 'RA Puram', 'Habsiguda', 'Kandivali West',
       'Noida Extention', 'Shihab Thangal Road', 'Miumbai',
       'Vanasthalipuram', 'KK Road', 'Opposite Ellora Building'],
      dtype=object)

In [166]:
df1=df_d.query(" city  not in ('Secunderabad','Ghaziabad','Telangana','Chennai','Bangalore','Noida','Mumbai','Kochi','Hyderabad','Delhi','Gurgaon','Faridabad','Ernakulam')")#.drop#["CITY"]

In [167]:
df1

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0
14,QUICK BITES,15024,Maharashtrian,"Closed (Mon),11am – 11pm (Tue-Sun)",Thane West,Majiwada,4.0,160 votes,300.0
47,"CASUAL DINING,BAR",2003,"Continental, North Indian, Chinese, Healthy Food",12noon – 1am (Mon-Sun),Malad East,Film City Road,3.9,985 votes,1400.0
58,CASUAL DINING,4963,Kerala,"12noon – 3:30pm, 7pm – 10pm (Mon-Sun)",682036,Kerala,4.0,145 votes,400.0
135,QUICK BITES,10311,Chinese,11am – 11pm (Mon-Sun),India,Telangana 500084,3.5,92 votes,250.0
...,...,...,...,...,...,...,...,...,...
4122,CASUAL DINING,10685,"North Indian, South Indian, Chinese, Continent...",11am – 11:30pm (Mon-Sun),Thane,Dombivali East,3.4,16 votes,NaN
4139,CASUAL DINING,9237,"North Indian, Chinese",5pm – 1am (Mon-Sun),Thane,Thane west,4.1,504 votes,NaN
4167,QUICK BITES,12015,Lebanese,4pm – 11pm (Mon-Sun),NaN,Chennai,3.7,124 votes,NaN
4177,DESSERT PARLOR,5425,Desserts,10:30am – 12:30AM (Mon-Sun),Opposite Ellora Building,Off Carter Road,4.2,1236 votes,NaN
4196,QUICK BITES,3791,"Street Food, Fast Food",8am – 10pm (Mon-Sun),Potheri,SRM Back Gate,3.7,259 votes,NaN

In [168]:
df_d = df_d[~df_d.index.isin(df1.index)]
# df_d.city.unique()

In [169]:
df_d.city.unique()

array(['Chennai', 'Mumbai', 'Bangalore', 'Gurgaon', 'Hyderabad', 'Kochi',
       'Delhi', 'Noida', 'Secunderabad', 'Faridabad', 'Telangana',
       'Ghaziabad', 'Ernakulam'], dtype=object)

In [170]:
df_d.shape

(15793, 9)

In [171]:
city_value = df_d[df_d['locality'].isnull()].city.str.split(" ", expand = True)[0] #Here i tried of splitting the city data to place the [0] position string into the locality part

In [172]:
city_value

12181    Bangalore
Name: 0, dtype: object

In [173]:
df_d['locality'].fillna('Kadubesanahalli',inplace=True)

In [174]:
df_d.isna().sum()

title               0
restaurant_id       0
cuisines            0
time                0
city                0
locality            0
rating              4
votes            1475
cost             3883
dtype: int64

In [175]:
df_d[df_d['city'].isna()] # .locality.unique()

Empty DataFrame
Columns: [title, restaurant_id, cuisines, time, city, locality, rating, votes, cost]
Index: []

In [176]:
df_d.isna().sum()

title               0
restaurant_id       0
cuisines            0
time                0
city                0
locality            0
rating              4
votes            1475
cost             3883
dtype: int64

In [177]:
df_d.shape

(15793, 9)

In [178]:
df_d.head()

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0
5,CASUAL DINING,5618,"North Indian, Chinese, Seafood, Biryani",12noon – 12:30AM (Mon-Sun),Mumbai,Vile Parle West,4.0,550 votes,800.0

In [179]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15793 entries, 1 to 4230
Data columns (total 9 columns):
title            15793 non-null object
restaurant_id    15793 non-null int64
cuisines         15793 non-null object
time             15793 non-null object
city             15793 non-null object
locality         15793 non-null object
rating           15789 non-null object
votes            14318 non-null object
cost             11910 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.2+ MB

In [180]:
df_df = df_d

In [181]:
df_df.votes

1        30 votes
2       221 votes
3        24 votes
4       165 votes
5       550 votes
          ...
4226    287 votes
4227    469 votes
4228     53 votes
4229          NaN
4230     63 votes
Name: votes, Length: 15793, dtype: object

In [182]:
df_df.votes

1        30 votes
2       221 votes
3        24 votes
4       165 votes
5       550 votes
          ...
4226    287 votes
4227    469 votes
4228     53 votes
4229          NaN
4230     63 votes
Name: votes, Length: 15793, dtype: object

In [183]:
df_df["votes"].fillna(df_df.votes.mode()[0],inplace = True)

In [184]:
df_df['votes'] = df_df['votes'].str.split(expand=True)[0]

In [185]:
df_df.isna().sum()

title               0
restaurant_id       0
cuisines            0
time                0
city                0
locality            0
rating              4
votes               0
cost             3883
dtype: int64

In [186]:
df_df.votes.unique()

array(['30', '221', '24', ..., '2159', '3807', '1913'], dtype=object)

In [187]:
df_df.rating.unique()

array(['4.2', '3.8', '4.1', '4.0', '4.3', '3.9', '3.3', '3.4', '-', '4.5',
       '3.6', '3.5', '4.4', '2.7', '3.7', '4.7', 'NEW', '3.1', '2.5',
       '4.6', '2.8', nan, '3.0', '3.2', '2.6', '2.9', '4.9', '4.8', '2.4',
       '2.3', '2.0', '2.1', '2.2'], dtype=object)

In [188]:
df_df.rating.mode()

0    3.9
dtype: object

In [189]:
df_df.replace({'-':df_df.rating.mode()[0],'NEW':df_df.rating.mode()[0]},inplace=True)

In [190]:
df_df.rating.unique()

array(['4.2', '3.8', '4.1', '4.0', '4.3', '3.9', '3.3', '3.4', '4.5',
       '3.6', '3.5', '4.4', '2.7', '3.7', '4.7', '3.1', '2.5', '4.6',
       '2.8', nan, '3.0', '3.2', '2.6', '2.9', '4.9', '4.8', '2.4', '2.3',
       '2.0', '2.1', '2.2'], dtype=object)

In [191]:
df_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15793 entries, 1 to 4230
Data columns (total 9 columns):
title            15793 non-null object
restaurant_id    15793 non-null int64
cuisines         15793 non-null object
time             15793 non-null object
city             15793 non-null object
locality         15793 non-null object
rating           15789 non-null object
votes            15793 non-null object
cost             11910 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.2+ MB

In [192]:
df_df = df_df.astype({'rating':'float'})

In [193]:
df_df.rating.fillna(df_df.rating.mode()[0],inplace=True)

In [194]:
df_df.rating.isna().sum()

0

In [195]:
df_df = df_df.astype({'votes':'int'})

In [196]:
df_df.drop(['locality','restaurant_id','time'],axis=1,inplace=True)

In [197]:
df_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15793 entries, 1 to 4230
Data columns (total 6 columns):
title       15793 non-null object
cuisines    15793 non-null object
city        15793 non-null object
rating      15793 non-null float64
votes       15793 non-null int64
cost        11910 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 863.7+ KB

In [198]:
df_df.head()

,title,cuisines,city,rating,votes,cost
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,4.2,30,1500.0
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,3.8,221,800.0
3,QUICK BITES,"Tibetan, Chinese",Mumbai,4.1,24,800.0
4,DESSERT PARLOR,Desserts,Mumbai,3.8,165,300.0
5,CASUAL DINING,"North Indian, Chinese, Seafood, Biryani",Mumbai,4.0,550,800.0

In [199]:
dfdf = df_df

In [200]:
dfdf.head()

,title,cuisines,city,rating,votes,cost
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,4.2,30,1500.0
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,3.8,221,800.0
3,QUICK BITES,"Tibetan, Chinese",Mumbai,4.1,24,800.0
4,DESSERT PARLOR,Desserts,Mumbai,3.8,165,300.0
5,CASUAL DINING,"North Indian, Chinese, Seafood, Biryani",Mumbai,4.0,550,800.0

In [201]:
title_counter_val = Counter([a for data in dfdf.title.str.split(',').tolist() for a in data])

In [202]:
title_counter_val

Counter({'CASUAL DINING': 5514,
         'BAR': 855,
         'QUICK BITES': 5758,
         'DESSERT PARLOR': 742,
         'CAFÉ': 1081,
         'MICROBREWERY': 95,
         'BEVERAGE SHOP': 306,
         'IRANI CAFE': 5,
         'BAKERY': 665,
         'None': 1123,
         'PUB': 179,
         'FINE DINING': 447,
         'SWEET SHOP': 208,
         'LOUNGE': 245,
         'FOOD COURT': 138,
         'MESS': 65,
         'KIOSK': 73,
         'CLUB': 38,
         'CONFECTIONERY': 6,
         'DHABA': 51,
         'MEAT SHOP': 3,
         'COCKTAIL BAR': 7,
         'FOOD TRUCK': 34,
         'PAAN SHOP': 5,
         'BHOJANALYA': 1})

In [203]:
for key,value in title_counter_val.items():
    dfdf.loc[(dfdf['title'].str.contains(key)),'title'] = key

In [204]:
dfdf.title.unique()

array(['CASUAL DINING', 'QUICK BITES', 'DESSERT PARLOR', 'CAFÉ',
       'MICROBREWERY', 'None', 'BAR', 'PUB', 'BEVERAGE SHOP',
       'FINE DINING', 'BAKERY', 'FOOD COURT', 'LOUNGE', 'SWEET SHOP',
       'MESS', 'KIOSK', 'CLUB', 'DHABA', 'MEAT SHOP', 'CONFECTIONERY',
       'FOOD TRUCK', 'PAAN SHOP', 'IRANI CAFE', 'BHOJANALYA'],
      dtype=object)

In [205]:
dfdf.title.value_counts()

QUICK BITES       5752
CASUAL DINING     5514
None              1123
CAFÉ               860
DESSERT PARLOR     655
FINE DINING        400
BAKERY             369
BAR                254
BEVERAGE SHOP      202
LOUNGE             129
FOOD COURT         106
PUB                 73
KIOSK               66
MESS                65
SWEET SHOP          62
DHABA               51
MICROBREWERY        45
FOOD TRUCK          32
CLUB                25
PAAN SHOP            4
CONFECTIONERY        3
IRANI CAFE           1
BHOJANALYA           1
MEAT SHOP            1
Name: title, dtype: int64

In [206]:
dfdf.loc[(dfdf['title'] == 'None'),'title'] = 'FOOD SHOP'

In [207]:
dfdf['title'].replace({'SWEET SHOP':'BAKERY','CONFECTIONERY':'BAKERY','IRANI CAFE':'CAFÉ','BEVERAGE SHOP':'BAR','PUB':'BAR','CLUB':'BAR','MICROBREWERY':'BAR'},inplace=True)

In [228]:
dfdf.title.value_counts()

QUICK BITES       5752
CASUAL DINING     5514
FOOD SHOP         1123
CAFÉ               861
DESSERT PARLOR     655
BAR                599
BAKERY             434
FINE DINING        400
LOUNGE             129
FOOD COURT         106
KIOSK               66
MESS                65
DHABA               51
FOOD TRUCK          32
PAAN SHOP            4
BHOJANALYA           1
MEAT SHOP            1
Name: title, dtype: int64

In [208]:
dfdf.cuisines.value_counts()

North Indian, Chinese                                      671
North Indian                                               670
South Indian                                               661
Fast Food                                                  335
Chinese                                                    204
                                                          ...
Cafe, Desserts, American                                     1
South Indian, North Indian, Chinese, Biryani, Beverages      1
North Indian, Kerala, Chinese, Continental                   1
Cafe, Italian, European, Asian                               1
Bakery, Fast Food, Beverages, Desserts                       1
Name: cuisines, Length: 4866, dtype: int64

In [219]:
dfdf['cuisines'] = dfdf.cuisines.str.lstrip()

In [222]:
cuisines_counter_val = Counter([a.strip() for data in dfdf.cuisines.str.split(',').tolist() for a in data])

In [223]:
cuisines_counter_val

Counter({'Asian': 563,
         'Modern Indian': 80,
         'Japanese': 178,
         'North Indian': 6762,
         'Chinese': 5465,
         'Biryani': 1578,
         'Hyderabadi': 172,
         'Tibetan': 61,
         'Desserts': 1403,
         'Seafood': 720,
         'Cafe': 1062,
         'Pizza': 639,
         'Burger': 441,
         'Bar Food': 42,
         'South Indian': 2861,
         'Fast Food': 2664,
         'Beverages': 1193,
         'Arabian': 490,
         'Mughlai': 953,
         'Parsi': 27,
         'Thai': 392,
         'Bakery': 824,
         'Momos': 451,
         'Continental': 1943,
         'European': 311,
         'Rolls': 315,
         'Andhra': 311,
         'Italian': 1428,
         'BBQ': 199,
         'Finger Food': 358,
         'Tea': 76,
         'American': 363,
         'Healthy Food': 259,
         'Coffee': 56,
         'Indonesian': 22,
         'Korean': 44,
         'Nepalese': 16,
         'Ice Cream': 433,
         'Mexican': 309,
         'Indian': 48,
         'Mithai': 246,
         'Street Food': 833,
         'Kerala': 680,
         'Malaysian': 47,
         'Vietnamese': 38,
         'Iranian': 15,
         'Kebab': 269,
         'Juices': 304,
         'Sandwich': 287,
         'Malwani': 60,
         'Maharashtrian': 75,
         'Mediterranean': 191,
         'Salad': 319,
         'Gujarati': 47,
         'Rajasthani': 53,
         'Tex-Mex': 23,
         'Roast Chicken': 6,
         'Burmese': 32,
         'Chettinad': 155,
         'North Eastern': 19,
         'Lebanese': 187,
         '': 126,
         'Bihari': 14,
         'Bengali': 103,
         'Goan': 35,
         'Lucknowi': 23,
         'Awadhi': 19,
         'Steak': 53,
         'French': 33,
         'Portuguese': 8,
         'Wraps': 32,
         'Sri Lankan': 11,
         'Oriya': 21,
         'Ethiopian': 1,
         'Konkan': 23,
         'Sushi': 69,
         'Spanish': 22,
         'Russian': 2,
         'Mangalorean': 73,
         'Turkish': 24,
         'Bubble Tea': 11,
         'Afghan': 27,
         'Naga': 8,
         'Grill': 15,
         'Singaporean': 15,
         'German': 5,
         'Middle Eastern': 32,
         'Sindhi': 5,
         'Cantonese': 4,
         'Hot Pot': 1,
         'Pan Asian': 2,
         'Satay': 1,
         'Dumplings': 1,
         'Kashmiri': 10,
         'Raw Meats': 3,
         'Drinks Only': 7,
         'Moroccan': 4,
         'Panini': 4,
         'Cafe Food': 6,
         'Charcoal Chicken': 9,
         'Belgian': 2,
         'Tamil': 5,
         'African': 3,
         'Assamese': 3,
         'Hot dogs': 1,
         'Paan': 5,
         'Poké': 4,
         'British': 8,
         'Bohri': 3,
         'Fusion': 2,
         'Armenian': 1,
         'South American': 5,
         'Greek': 7,
         'Pakistani': 4,
         'Peruvian': 2,
         'Cuisine Varies': 2,
         'Irish': 1,
         'Multi Cuisine': 1,
         'Coffee and Tea': 1,
         'Mongolian': 2,
         'Jewish': 1,
         'Vegan': 2,
         'Oriental': 2,
         'Modern Australian': 1,
         'Egyptian': 2,
         'Fish and Chips': 1,
         'Brazilian': 1,
         'Mishti': 1,
         'Falafel': 1})

In [211]:
dfdff = dfdf.cuisines.replace({' ':''})

In [225]:
dfdff.unique()

array(['Asian, Modern Indian, Japanese',
       'North Indian, Chinese, Biryani, Hyderabadi', 'Tibetan, Chinese',
       ..., 'European, Mediterranean, Italian, Sushi',
       'North Indian, Chinese, Kebab, Juices', 'Sindhi, Street Food'],
      dtype=object)

In [229]:
df_df['title'] = dfdf['title']

In [230]:
df_df.title.unique()

array(['CASUAL DINING', 'QUICK BITES', 'DESSERT PARLOR', 'CAFÉ', 'BAR',
       'FOOD SHOP', 'FINE DINING', 'BAKERY', 'FOOD COURT', 'LOUNGE',
       'MESS', 'KIOSK', 'DHABA', 'MEAT SHOP', 'FOOD TRUCK', 'PAAN SHOP',
       'BHOJANALYA'], dtype=object)

In [231]:
df_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15793 entries, 1 to 4230
Data columns (total 6 columns):
title       15793 non-null object
cuisines    15793 non-null object
city        15793 non-null object
rating      15793 non-null float64
votes       15793 non-null int64
cost        11910 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 863.7+ KB

In [232]:
df_df.city.unique()

array(['Chennai', 'Mumbai', 'Bangalore', 'Gurgaon', 'Hyderabad', 'Kochi',
       'Delhi', 'Noida', 'Secunderabad', 'Faridabad', 'Telangana',
       'Ghaziabad', 'Ernakulam'], dtype=object)

In [233]:
title_num_col = df_df.title.str.get_dummies(sep=',')

In [235]:
cuisines_num_col = df_df.cuisines.str.get_dummies(sep=',')

In [238]:
city_num_col = df_df.city.str.get_dummies()

In [239]:
df_df.head()

,title,cuisines,city,rating,votes,cost
1,CASUAL DINING,"Asian, Modern Indian, Japanese",Chennai,4.2,30,1500.0
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,3.8,221,800.0
3,QUICK BITES,"Tibetan, Chinese",Mumbai,4.1,24,800.0
4,DESSERT PARLOR,Desserts,Mumbai,3.8,165,300.0
5,CASUAL DINING,"North Indian, Chinese, Seafood, Biryani",Mumbai,4.0,550,800.0

In [ ]:
df_dff = df_df

In [ ]:
df_dff.loc[(df_dff['title'] == 'None'),'title'] = 'HOTEL'

In [ ]:
df_dff.loc[df_dff['title'] == 'None']

In [130]:
df_df.shape

(15793, 6)

In [131]:
df_df.drop('cuisines',axis=1,inplace=True)

In [132]:
# df_df = pd.concat([df_df,dummies_col])

In [133]:
df_num_col = df.select_dtypes(include = np.number)
df_cat_col = df.select_dtypes(exclude = np.number)

In [134]:
df_num_col.head()

   restaurant_id    cost
0           9438  1200.0
1          13198  1500.0
2          10915   800.0
3           6346   800.0
4          15387   300.0

In [135]:
df_cat_col.head()

,title,cuisines,time,city,locality,rating,votes
0,CASUAL DINING,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes
3,QUICK BITES,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes
4,DESSERT PARLOR,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes

In [136]:
df_cat_col.title.value_counts()

QUICK BITES             5627
CASUAL DINING           4902
None                    1188
CAFÉ                     826
DESSERT PARLOR           506
                        ...
DESSERT PARLOR,KIOSK       1
LOUNGE,CAFÉ                1
BAR,CLUB                   1
MEAT SHOP                  1
BHOJANALYA                 1
Name: title, Length: 123, dtype: int64

In [137]:
df_cat_cuisines_num_col = df_cat_col['cuisines'].str.get_dummies(sep=",")

In [138]:
df_cat_title_num_col = df_cat_col['title'].str.get_dummies(sep=",")

In [139]:
df_cat_cuisines_num_col.head()

,,Afghan,African,American,Andhra,Arabian,Asian,Assamese,Awadhi,BBQ,...,Street Food,Sushi,Tamil,Tea,Tex-Mex,Thai,Tibetan,Turkish,Vietnamese,Wraps
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [140]:
df_cat_title_num_col.head()

,BAKERY,BAR,BEVERAGE SHOP,BHOJANALYA,CAFÉ,CASUAL DINING,CLUB,COCKTAIL BAR,CONFECTIONERY,DESSERT PARLOR,...,KIOSK,LOUNGE,MEAT SHOP,MESS,MICROBREWERY,None,PAAN SHOP,PUB,QUICK BITES,SWEET SHOP
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [141]:
df_cat_col.drop(['title','cuisines'],axis=1)

,time,city,locality,rating,votes
0,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes
1,6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes
2,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes
3,11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes
4,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes
...,...,...,...,...,...
4226,11:30am – 11:30pm (Mon-Sun),Delhi,Punjabi Bagh,3.9,287 votes
4227,11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469 votes
4228,9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53 votes
4229,"11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,-,NaN
4230,5pm – 1am (Mon-Sun),Mumbai,Perry Cross Road,3.7,63 votes

In [142]:
df_preprocced = pd.concat([df_cat_title_num_col,df_cat_col,df_cat_cuisines_num_col],axis='columns')

In [143]:
df_preprocced = pd.concat([df_preprocced,df_num_col],axis='columns')

In [144]:
df_preprocced = pd.concat([df_preprocced,df_city_num_col],axis='columns')

NameError: name 'df_city_num_col' is not defined

In [ ]:
df_city_num_col

In [ ]:
del df_preprocced['cuisines']

In [ ]:
del df_preprocced['title']

In [ ]:
del df_preprocced['locality']

In [ ]:
df_city_num_col = df_preprocced['city'].str.get_dummies(sep=',')

In [ ]:
df_city_num_col.head()

In [ ]:
del df_preprocced['city']

In [ ]:
df_preprocced.shape

In [ ]:
train_preprocessed = df_preprocced[df_preprocced["cost"].notna()]

In [ ]:
test_preprocessed = df_preprocced[df_preprocced["cost"].isna()]

In [ ]:
train_preprocessed.shape

In [ ]:
test_preprocessed.shape

In [ ]:
X = train_preprocessed

In [ ]:
Y = train_preprocessed["cost"]

In [ ]:
X.shape

In [ ]:
X.info()

In [ ]:
X.head()

In [ ]:
X.city.unique()

In [ ]:
train_x,test_x,train_y,test_y = train_test_split(X,Y,test_size=0.3,random_state=10)

In [ ]:
train_x.shape

In [ ]:
test_x.shape

In [ ]:
linear = LinearRegression()

In [ ]:
linear.fit(train_x,train_y)

In [ ]:
linear.coef_

In [ ]:
pd.DataFrame(linear.coef_,train_x.columns).plot(kind = "bar")

In [ ]:
train_predict = linear.predict(train_x)

In [ ]:
test_predict = linear.predict(test_x)

In [ ]:
np.sqrt(mean_squared_error(train_predict,train_y))

In [ ]:
# df_df['city'].apply(lambda x : [np.nan] if x==None else x)

In [ ]:
city_array = df_df[df_df['city'].isna()].locality.str.split(" ")

In [ ]:
city_array = [x for x in city_array if len(x)==1]

In [ ]:
city_array

In [ ]:
df_d.fillna( {'locality':  })