In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel('Data_Train.xlsx')

In [58]:
test_df = pd.read_excel('Data_Test.xlsx')

In [8]:
df_d = df

In [9]:
df_d.shape

(12690, 9)

In [10]:
df_d.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [11]:
df_d.isna().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64

In [12]:
df_d.columns = map(str.lower,df_d.columns)

In [13]:
df_d['locality'].unique()

array(['Dombivali East', 'Ramapuram', 'Saligramam', ..., 'Market Road',
       'Near Perambur', 'Near Malviya Nagar'], dtype=object)

In [14]:
df_d.dropna(subset=['city','locality'],how='all',inplace=True)

In [15]:
df_d.isna().sum()

title               0
restaurant_id       0
cuisines            0
time                0
city               15
locality            1
rating              2
votes            1185
cost                0
dtype: int64

In [16]:
city_value = df_d[df_d['locality'].isnull()].city.str.split(" ", expand = True)[0] #Here i tried of splitting the city data to place the [0] position string into the locality part

In [17]:
city_value

12181    Kadubesanahalli
Name: 0, dtype: object

In [18]:
df_d['locality'].fillna('Kadubesanahalli',inplace=True)

In [19]:
df_d.isna().sum()

title               0
restaurant_id       0
cuisines            0
time                0
city               15
locality            0
rating              2
votes            1185
cost                0
dtype: int64

In [20]:
df_d[df_d['city'].isna()] # .locality.unique()

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
246,QUICK BITES,14502,Biryani,12noon – 11pm (Mon-Sun),NaN,Palarivattom Kochi,3.4,82 votes,300
817,CASUAL DINING,1042,"Thai, Chinese, Continental, North Indian, Italian",12noon – 12midnight (Mon-Sun),NaN,shop 7 shikrupa socity,4.1,486 votes,1200
5149,"BEVERAGE SHOP,DESSERT PARLOR",7264,"Beverages, Ice Cream, Desserts",11am – 11pm (Mon-Sun),NaN,Navi Mumbai,3.8,163 votes,400
5297,CASUAL DINING,1030,Continental,24 Hours (Mon-Sun),NaN,Kochi,3.4,19 votes,1000
6397,CAFÉ,7334,"Cafe, American, Asian, Bakery, Biryani, Chines...",9am – 9:30pm (Mon-Sun),NaN,Alibaug,4.2,253 votes,950
6451,BAKERY,2595,Bakery,10am – 10pm (Mon-Sun),NaN,Chennai,3.5,10 votes,400
8456,QUICK BITES,12367,"Fast Food, Beverages",9:30am – 11pm (Mon-Sun),NaN,Mathikere,3.7,28 votes,150
8735,CASUAL DINING,15526,"Chinese, Burger",11am – 11pm (Mon-Sun),NaN,Chennai,3.8,284 votes,400
9121,"PUB,CASUAL DINING",9800,"Finger Food, American, Continental, Burger, Pizza",11am – 1am (Mon-Sun),NaN,Bangalore,3.9,557 votes,1500
9268,QUICK BITES,12021,Lebanese,11am – 11pm (Mon-Sun),NaN,Kochi,3.4,14 votes,200
10200,QUICK BITES,1433,"North Indian, Chinese, Sandwich, Street Food, ...","7:30am – 12midnight (Mon, Tue, Wed, Thu, Sat...",NaN,Kalyan,3.5,40 votes,300
10704,CASUAL DINING,5552,"Continental, Fast Food",12noon – 12midnight (Mon-Sun),NaN,Chennai,4.0,68 votes,650
11491,QUICK BITES,954,"Arabian, North Indian, Chinese",11am – 11pm (Mon-Sun),NaN,Chennai,3.0,109 votes,500
12314,CASUAL DINING,11724,"North Indian, Bengali","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",NaN,Opposite to corporation bank and LIC office ba...,4.3,775 votes,650
12447,QUICK BITES,7314,"North Indian, Chinese, Mughlai, Seafood",12:30pm – 12midnight (Mon-Sun),NaN,Hyderabad,3.1,44 votes,350

In [21]:
# df_d['city'].fillna(df_d[df_d['city'].isna()].locality.unique().tolist())

In [22]:
df_df = df_d

In [23]:
df_df[df_df['locality'].str.contains('shikrupa socity')]

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
817,CASUAL DINING,1042,"Thai, Chinese, Continental, North Indian, Italian",12noon – 12midnight (Mon-Sun),NaN,shop 7 shikrupa socity,4.1,486 votes,1200

In [24]:
i = df_df[((df_df.locality == 'shop 7 shikrupa socity'))].index

In [25]:
df_df.drop(i,inplace=True)

In [26]:
j = df_df[df_df['locality'].str.contains('Vodafone store Madhapur')].index

In [27]:
df_df.drop(j,inplace=True)

In [28]:
df_d[df_d['city'].isna()]

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
246,QUICK BITES,14502,Biryani,12noon – 11pm (Mon-Sun),NaN,Palarivattom Kochi,3.4,82 votes,300
5149,"BEVERAGE SHOP,DESSERT PARLOR",7264,"Beverages, Ice Cream, Desserts",11am – 11pm (Mon-Sun),NaN,Navi Mumbai,3.8,163 votes,400
5297,CASUAL DINING,1030,Continental,24 Hours (Mon-Sun),NaN,Kochi,3.4,19 votes,1000
6397,CAFÉ,7334,"Cafe, American, Asian, Bakery, Biryani, Chines...",9am – 9:30pm (Mon-Sun),NaN,Alibaug,4.2,253 votes,950
6451,BAKERY,2595,Bakery,10am – 10pm (Mon-Sun),NaN,Chennai,3.5,10 votes,400
8456,QUICK BITES,12367,"Fast Food, Beverages",9:30am – 11pm (Mon-Sun),NaN,Mathikere,3.7,28 votes,150
8735,CASUAL DINING,15526,"Chinese, Burger",11am – 11pm (Mon-Sun),NaN,Chennai,3.8,284 votes,400
9121,"PUB,CASUAL DINING",9800,"Finger Food, American, Continental, Burger, Pizza",11am – 1am (Mon-Sun),NaN,Bangalore,3.9,557 votes,1500
9268,QUICK BITES,12021,Lebanese,11am – 11pm (Mon-Sun),NaN,Kochi,3.4,14 votes,200
10200,QUICK BITES,1433,"North Indian, Chinese, Sandwich, Street Food, ...","7:30am – 12midnight (Mon, Tue, Wed, Thu, Sat...",NaN,Kalyan,3.5,40 votes,300
10704,CASUAL DINING,5552,"Continental, Fast Food",12noon – 12midnight (Mon-Sun),NaN,Chennai,4.0,68 votes,650
11491,QUICK BITES,954,"Arabian, North Indian, Chinese",11am – 11pm (Mon-Sun),NaN,Chennai,3.0,109 votes,500
12447,QUICK BITES,7314,"North Indian, Chinese, Mughlai, Seafood",12:30pm – 12midnight (Mon-Sun),NaN,Hyderabad,3.1,44 votes,350

In [29]:
df_df[df_df.locality.str.contains('Palarivattom Kochi')]

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
246,QUICK BITES,14502,Biryani,12noon – 11pm (Mon-Sun),NaN,Palarivattom Kochi,3.4,82 votes,300

In [30]:
pl_kchi=df_df[df_df.locality.str.contains('Palarivattom Kochi')].index

In [31]:
kochi_text = df_df[df_df.locality.str.contains('Palarivattom Kochi')]['locality'].str.split(" ",expand = True)[1]

In [32]:
kochi_text

246    Kochi
Name: 1, dtype: object

In [37]:
df_df.loc[df_df['locality']=='Palarivattom Kochi','city'] = kochi_text

In [43]:
city_list = df_df[df_df['city'].isnull()].locality.tolist()

In [44]:
city_list

['Navi Mumbai',
 'Kochi',
 'Alibaug',
 'Chennai',
 'Mathikere',
 'Chennai',
 'Bangalore',
 'Kochi',
 'Kalyan',
 'Chennai',
 'Chennai',
 'Hyderabad']

In [51]:
df_df['city'].fillna(df_df[df_df['city'].isnull()].locality,inplace=True)

In [52]:
df_df['city'].isna().sum()

0

In [54]:
df_df.isnull().sum()

title               0
restaurant_id       0
cuisines            0
time                0
city                0
locality            0
rating              2
votes            1185
cost                0
dtype: int64

In [57]:
df_df[df_df['rating'].isna()]

,title,restaurant_id,cuisines,time,city,locality,rating,votes,cost
204,BAKERY,15062,Bakery,Not Available,Kochi,Marine Drive,NaN,NaN,200
421,CAFÉ,14127,"Cafe, Fast Food",Not Available,Hyderabad,Banjara Hills,NaN,NaN,350

In [66]:
test_df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [80]:
# df_df['city'].apply(lambda x : [np.nan] if x==None else x)

In [92]:
city_array = df_df[df_df['city'].isna()].locality.str.split(" ")

In [97]:
city_array = [x for x in city_array if len(x)==1]

In [95]:
city_array

[['Kochi'],
 ['Alibaug'],
 ['Chennai'],
 ['Mathikere'],
 ['Chennai'],
 ['Bangalore'],
 ['Kochi'],
 ['Kalyan'],
 ['Chennai'],
 ['Chennai'],
 ['Hyderabad']]

AttributeError: 'Series' object has no attribute 'split'

In [33]:
df_d.fillna( {'locality':  })

KeyError: 0